[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "jade-mode"]
	path = jade-mode
	url = git://github.com/brianc/jade-mode.git
[submodule "wrangler"]
	path = wrangler
	url = git://github.com/RefactoringTools/wrangler.git
